@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Handjet:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Handjet', cursive;
    font-weight: normal;
}
html,body{
    height: 100%;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.title{
    font-weight: bold;
    font-size: 70px;
}

.sketch-ui{
    display: flex;
    height: fit-content;
}

.settings-container{
    border: 10px solid gray;
    flex: none;
    /* width: 100px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 100px;
}

.color-picker-container{
    margin-top: 20px;
    
}

#color-picker{
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0 2px;
    
    
}
.tools{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tools li{
    display: flex;
    justify-content: center;
    align-items: center;
}

 button{
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 5px;
}

.btn-selected{
    background-color: rgb(133, 133, 133);
    box-shadow: 0 0 2px rgba(0,0,0);
}

#sketch-pad{
    border: 10px solid rgb(97, 97, 97);
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex: none;
}


.sketch-row{
    display: flex;
    flex: 1;
}

.sketch-block{
    background-color: white;
    border:1px solid rgb(161, 161, 161);
    flex: 1;
}

.slider-container-outer{
    margin-left: 283px;
    margin-top: 165px

}

.slider-container{
    transform:rotate(-90deg);
    justify-content: center;
    height: 300px;
    width: 20px;
}




.slider,
.slider-ticks{
    box-sizing: border-box;

    padding: 0 20px;
    width: 300px;

}
.slider{
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    
    background-color: rgb(172, 172, 172);
    
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    transform:rotate(45deg) 
}




.slider-ticks{  
    padding: 0 18px;
    z-index: 2;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-ticks li{
    width: 20px;
    text-align: center;
    rotate: 90deg;
}

.credit{
    text-align: center;
}